<p id="notice"><%= notice %></p>

<h1>Hoagies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hoagies.each do |hoagie| %>
      <tr>
        <td><%= hoagie.name %></td>
        <td><%= link_to 'Show', hoagie %></td>
        <td><%= link_to 'Edit', edit_hoagie_path(hoagie) %></td>
        <td><%= link_to 'Destroy', hoagie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hoagy', new_hoagie_path %>
